@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Enums
@using DatabaseCourse.Common.Utility.EnumUtility
@{
    if (ThisApp.AccessDenied == null && ThisApp.InnerAccessDenied == null)
    {



    }
    else
    {
        if (ThisApp.AccessDeniedType == AccessDeniedType.NotLogined)
        { Response.Redirect("/Login/Index"); }
        <p>خطای سیستم : @EnumUtility.GetEnumDescription(ThisApp.AccessDeniedType)</p>
    }
}