@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Utility.EnumUtility

@{
    Layout = null;
}

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
<link href="~/Content/css/plugins/timeline.css" rel="stylesheet">
<link href="~/Content/css/sb-admin-2.css" rel="stylesheet">
<link href="~/Content/css/plugins/morris.css" rel="stylesheet">
<link href="~/Content/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="~/Content/js/jquery-1.11.0.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
<script src="~/Content/js/raphael/raphael.min.js"></script>
<script src="~/Content/js/morris/morris.min.js"></script>
<script src="~/Content/js/sb-admin-2.js"></script>

@if (ThisApp.AccessDenied != null || ThisApp.InnerAccessDenied != null )
{
    <div style="width: 60%; margin-top: 40px;" class="center-block text-center">
        <div class="alert alert-danger">
            <i class="fa fa-5x fa-exclamation-triangle"></i>
            <p>@EnumUtility.GetEnumDescription(ThisApp.AccessDeniedType)</p>
        </div>
    </div>
}
else
{
    Response.Redirect("/Default/Index");
}