<MenuItemList>
  <Menu>
    <MenuId>1</MenuId>
    <MenuTitle>داشبورد</MenuTitle>
    <MenuDescription>رفتن به صفحه پروفایل شخصی کاربر</MenuDescription>
    <MenuUrl><![CDATA[Default/Index]]></MenuUrl>
    <MenuIcon>dashboard</MenuIcon>
    <RoleList>
      <Role>
        <RoleName>All</RoleName>
      </Role>
    </RoleList>
    <ParentId></ParentId>
  </Menu>
  <Menu>
    <MenuId>2</MenuId>
    <MenuTitle>مدیریت کاربران</MenuTitle>
    <MenuDescription>مدیریت کاربران سیستم</MenuDescription>
    <MenuUrl><![CDATA[User/Index]]></MenuUrl>
    <MenuIcon>users</MenuIcon>
    <RoleList>
      <Role>
        <RoleName>SuperAdmin</RoleName>
      </Role>
      <Role>
        <RoleName>Admin</RoleName>
      </Role>
      <Role>
        <RoleName>CEO</RoleName>
      </Role>
    </RoleList>
    <ParentId></ParentId>
  </Menu>


  <Menu>
    <MenuId>3</MenuId>
    <MenuTitle>رخدادها</MenuTitle>
    <MenuDescription>رخدادها</MenuDescription>
    <MenuUrl><![CDATA[Event]]></MenuUrl>
    <MenuIcon>exchange</MenuIcon>
    <RoleList>
      <Role>
        <RoleName>SuperAdmin</RoleName>
      </Role>
    </RoleList>
    <ParentId></ParentId>
  </Menu>

  <Menu>
    <MenuId>4</MenuId>
    <MenuTitle>پروژه‌ها</MenuTitle>
    <MenuDescription>لیست پروژها</MenuDescription>
    <MenuUrl><![CDATA[Project]]></MenuUrl>
    <MenuIcon>tasks</MenuIcon>
    <RoleList>
      <Role>
        <RoleName>SuperAdmin</RoleName>
      </Role>
      <Role>
        <RoleName>Supervisor</RoleName>
      </Role>
      <Role>
        <RoleName>CEO</RoleName>
      </Role>
      <Role>
        <RoleName>FinManager</RoleName>
      </Role>
    </RoleList>
    <ParentId></ParentId>
  </Menu>

  <Menu>
    <MenuId>5</MenuId>
    <MenuTitle>پیمانکاران</MenuTitle>
    <MenuDescription>لیست پیمانکاران</MenuDescription>
    <MenuUrl><![CDATA[/Contractor/Index]]></MenuUrl>
    <MenuIcon>user</MenuIcon>
    <RoleList>
      <Role>
        <RoleName>SuperAdmin</RoleName>
      </Role>
      <Role>
        <RoleName>Supervisor</RoleName>
      </Role>
      <Role>
        <RoleName>CEO</RoleName>
      </Role>
    </RoleList>
    <ParentId></ParentId>
  </Menu>
</MenuItemList>