@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Enums
@using DatabaseCourse.Common.Utility.EnumUtility

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var DataId = (int)ThisApp.Session["UserId"];
}
@{
    if (DataId != ThisApp.CurrentUser.Id && ThisApp.CurrentUser.UserRoles.Any(x=>x!=UserRoleEnum.SuperAdmin))
    { Response.Redirect("../Default/Index");}
    else
    {
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @ThisApp.PageDesctiption
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>رمز عبور</label>
                                    <input class="form-control" id="txtPassword" type="password">
                                    <p class="text-danger" id="Password_Error"></p>
                                </div>
                                <a class="btn btn-block btn-primary text-center" id="btnPressOk">اعمال تغییرات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <p id="Server_Error">
                    <ul id="Server_Error_List"></ul>
                </p>
            </div>
        </div>
    }
}


<script>
    $('#btnPressOk').click(function() {
        ShowLoading();
            $.ajax({
                url: "/User/EditPassword",
                type: "POST",
                data: {
                    password : $("#txtPassword").val()
                },
                success: function (data) {
                    if(data.Status === @Html.Raw(EnumUtility.GetEnumValue(JsonResultStatus.Ok)))
                    {
                        window.location.assign("../User/Index");
                    }
                    else if (data.Status === @Html.Raw(EnumUtility.GetEnumValue(JsonResultStatus.Exception)))
                    {
                        HideLoading();
                        debugger
                        $('ul#Server_Error_List').empty();
                        var exlist = data.Description;
                        for (var i = 0; i < exlist.length ; i++) {
                            $('ul#Server_Error_List').append("<li>" + exlist[i].Message + "</li>");
                        }
                    }
                },
                error: function (x, e, er) {
                }
            });
    });
</script>
