@using DatabaseCourse.CDMS.WebUi.Classes
@using DatabaseCourse.Common.Enums
@using DatabaseCourse.Common.Utility.EnumUtility
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        @{var title = $"{ThisApp.PageTitle} - {ThisApp.PageDesctiption}";}
        @title
    </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/css/plugins/timeline.css" rel="stylesheet">
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    @{
        if (ThisApp.AccessDenied == null && ThisApp.InnerAccessDenied == null)
        {
            <div class="container">
                <div class="row">
                    <h2 class="text-center" style="margin-top: 12%">سامانه مدیریت پروژه‌های عمرانی</h2>
                    <h5 class="text-center" style="color: #808080">شرکت ساختمانی</h5>
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">ورود به سامانه</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                        <div class="form-group">
                                            <input class="form-control ltr" id="txtUserName" placeholder="نام کاربری" type="text" autofocus />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control ltr" id="txtPassword" placeholder="رمزعبور" type="password" />
                                        </div>
                                        <p class="text-danger" id="login-error"></p>
                                        <input type="button" id="btnLogin" class="btn btn-lg btn-success btn-block" value="ورود" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Loading">
                <div id="loader"></div>
                <p class="center-block text-center" style="color: antiquewhite; font-size: 20px;padding: 20px">منتظر بمانید</p>
            </div>

        }
        else
        {
            if (ThisApp.AccessDeniedType == AccessDeniedType.UserLogined)
            { Response.Redirect("~/Default/Index"); }
            <p>@EnumUtility.GetEnumDescription(ThisApp.AccessDeniedType)</p>
        }
    }
    <script src="~/Content/js/jquery-1.11.0.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/js/sb-admin-2.js"></script>
    <script>
    $("#btnLogin").click(function() {
        ShowLoading();
        $('#login-error').html('');
        $.ajax({
            data: { password: $('#txtPassword').val(), userName: $('#txtUserName').val() },
            url: "/Login/Login",
            success: function(result) {
                if (result.Status === @Html.Raw(EnumUtility.GetEnumValue(JsonResultStatus.Ok)) ||
                    result.Status === @Html.Raw(EnumUtility.GetEnumValue(JsonResultStatus.AlreadyLogedIn))) {
                    window.location.assign("../");
                } else {
                    $('#login-error').html(result.Description);
                    HideLoading();
                }
            }
        });
    });
    </script>
</body>
</html>
